*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color :white;
}
.contenedor{
    background-color: #212C65;
    display: flex;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5 px 0 10 px rgba(0, 0, 0, .6);
}
.logo{
    color: white;
    font-size:  40px;
    padding: 0 80px;
    font-weight: bold;
}
.contList{
    display: flex;
    list-style: none;
    margin-right:  30px;
}
.lista {
    border-radius: 3px;
    margin: 0 5px;
}
.lista a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: #fff;
}
.lista:hover, lista.active{
    background-color: rgba(0, 0, 0, .3);
    transition: .5s;
}
img{
    display:block;
    width: 100%;
    height: 600px;
}
.linkH:hover, linkH.active{
    text-decoration: underline;
}
.premios{
    display: flex;
    justify-content: center;
}
h2{
    padding: 20px 5px;
}
.premios_años{
    min-width: 15%;
    text-align: center;
    background-color: blanchedalmond;
    
}
.items {
    border: 1px solid black;
    padding: 5px;
}
.text{
    padding: 0 15px;
    font-size: 20px;
    
}

.info {
    width: 1200px;
    margin: 0px auto;
}

.info h2 {
    text-align: center;
    font-size: 36px;
    background-color: #01A1DD;
    margin-bottom: 25px;
    margin-top: 15px;
}

.text {
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: justify;
    line-height: 1.5;
}

.text p {
    margin-bottom: 15px;
}