body {
  background: url(../imagenes/Bike-Background-Contact.png) no-repeat fixed ;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.titulof h2, .titulof h1 {
  font-weight: 400;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
  font-size: 25px;
  margin-left: 20px;
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px white;
}
.contenido-contacto .caja-campo {
  margin-bottom: 10px;
}
.contenido-contacto .caja-campo label {
  width: 150px;
  display: inline-block;
  color: #fff;
}
.contenido-contacto .caja-campo input,
.contenido-contacto .caja-campo textarea, .caja-campo select {
  display: inline-block;
  width: 290px;
}

.contenido-contacto .button {
  text-align: right;
  width: 440px;
}
.contenido-contacto .button input {
  font-size: 15px;
  background: silver;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 25px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.contenido-contacto .button input:hover {
  background: black;
  color: white;
}

.descripción {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  font-size: 25px;
  text-align: justify;
  text-shadow: 7px 13px 35px #000;
  line-height: 1.2;
  padding: 20px 20px;
}
.descripción p {
  margin-bottom: 8px;
}

.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px; 
  border: 1px solid black;
  width: 500px;
  padding: 20px;
  margin: 0px auto;
  box-shadow: 7px 13px 35px #01A1DD;
  background-color: #212C65;
}

.titulof {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 75px;
}

.cont2 {
  resize:none;

}

.titulof h1 {font-size: 40px;}
.mapa {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
