/*FOOTER*/
footer img {
    display: block;
    width: 100%;
    height: auto;
}

footer {
    width: 100%;
    box-sizing: border-box;
    background-color: #212C65;
    color: #fff;
    font-size: 1.25em;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

footer .redesSociales {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

footer .social {
    width: 60px;
    margin-top: 10px;
    margin-right: 50px;
    cursor: pointer;
    transition: .3s;
}

 footer .social:hover {
    transform: translateY(-20px);
    transition: .3s;
}

footer .social:last-child {
    margin-right: 0px;
}

/*ICONO-FLOTANTE*/
.airIcon {
    width: 75px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    transition: .3s;
}

.airIcon:hover {
    transform: scale(1.3);
    transition: .3s;
}

.airIcon img {
    height: auto;
}
